body {
  background-color: black;
  color: white;
}
.title {
  margin-left:200px;
  margin-top: 70px;
  text-align: center;
  color: white;
}
.item-title {
  font-size: 80px;
  font-weight: 500;
}
.unique {
  color: red;
  font-weight: 900;
}
.navbar {
  display: flex;
  justify-content: center;
}
.nav-item {
  padding: 20px;
}
.nav-item a{
  text-decoration: none;
  color: white;
}
.nav-item a:hover{
  color: blue;
}
